a.button.customButton {
    width: 100vw;
    height: 50px;
    font-size: 14px;
}
.button {
    margin: 5px;
    width: 100%;
}
.selected {
    background: #6d6d6d !important;
}

@media screen and (max-width: 480px) {
    .features article {
        -moz-flex-direction: row !important;
        -webkit-flex-direction: row;
        -ms-flex-direction: row !important;
        flex-direction: row;
        -moz-align-items: -moz-flex-start;
        -webkit-align-items: -webkit-flex-start;
        -ms-align-items: -ms-flex-start;
        align-items: flex-start;
    }
}